<!DOCTYPE html>
<html ng-app="rpsApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Rock Paper Scissors</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainCtrl as main">
    <div class="game">
      <p>Player 1 chose: <span class="player1"></span></p>
      <p>Player 2 chose: <span class="player2"></span></p>
      <p class="result"></p>
      <ul>
        <li ng-repeat="choice in main.choices"><button ng-click="main.getChoice(choice)" class="choice">{{choice.option}}</button></li>
      </ul>      
      <button class="reset">reset</button>
    </div>
  </body>
</html>
<!-- ng-click, grab choice and run game logic display win lose tie.  -->
